:root {
	/* fonts */
	--font-family-primary: "Montserrat", sans-serif;
	--second-font-family: "Open Sans", sans-serif;

	/* colors */
	--color-white: #fff;
	--color-black: #000;


	--font-small: 14px;

	--max-size: 1440px;
}
